<%= @user.errors.full_messages %>
<p>Please Login:</p>
<%= form_tag valid_path, method: "post" do %>
  <input id="name" type="text" placeholder="Email" name="user[email]">
  <input id="password" type="password" placeholder="Password" name="user[password]">
  <input type="submit">
<%end%>