/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

a {
  text-decoration:none;
}

a.submit2 {
  color: white;
  
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size:220%;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size:200%;
  color:#BEBEBE;
}
/*.task_manager {
  position:relative;
  display:block;
  width:120px;*/
/*  border:1px solid;*/
  

/*  float:left;*/
/*  vertical-align: super;*/
/*}*/

h2.radio{
  position:relative;
  font-family: 'Dosis', sans-serif;
  font-size:150%;
  color:#BEBEBE;
  line-height: 47px;
  margin-bottom:-10%;
}

body {
  font-family: 'Dosis', sans-serif;
  margin:0;
  padding:5%;
  font-size:100%;
}

.user_icon {
  width:40px;
  margin-bottom:-1%;
}

.logo {
  width:120px;
}

.chores {
  position:relative;
  width:100%;
  margin:2%;
  margin-top:10%;
}

.input {
/*  border:1px solid #BEBEBE;*/
  background-color:lightgray;
  height:40px;
  width:100%;
  font-family: 'Dosis', sans-serif;
  font-weight:200;
  color: white;
  border:none;
  
  font-size:120%;
  margin: 2% 0 2% 0;
}

input[type="radio"]{
  height:35px;
  width:35px;
  vertical-align:bottom;
  
   }

.center {
  position:relative;
  display:block;
  margin:2%;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  padding-right:5%;
}

.submit {
  background-color:#30BEC3;
  padding:1%;
  font-family: 'Dosis', sans-serif;
  font-weight:200;
  font-size:120%;
  color: white;
  border:none;
  margin: 9% 0 2% 0;
  
}

.submit2 {
  background-color:#30BEC3;
  padding:1%;
  font-family: 'Dosis', sans-serif;
  font-weight:200;
  font-size:100%;
  color: white;
  border:none;
  margin: 2% 0 2% 0;
  
}

.submit3 {
  background-color:#BEBEBE;
  padding:1%;
  font-family: 'Dosis', sans-serif;
  font-weight:200;
  font-size:100%;
  color: white;
  border:none;
  margin: 2% 0 2% 0;
  
}

p {
  font-family: 'Dosis', sans-serif;
  font-size:100%;
}

#add_chore {
  display:block;
}

footer {
  margin-top:10%;
}
